{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "vue/first-attribute-linebreak": [
      "error",
      {
        "singleline": "ignore",
        "multiline": "below"
      }
    ],
    "no-import-assign": "off",
    "linebreak-style": 0,
    "func-call-spacing": "off",
    "import/no-cycle": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    // import 순서
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "alphabetize": { "order": "desc" }
      }
    ],
    // 컴포넌트 이름 중복 사용 가능(index 때문)
    "vue/multi-word-component-names": "off",
    // attr에 하이픈 사용
    "vue/attribute-hyphenation": "off",
    // vue 템플릿 태그 안에 태그 어트리부트 순서 설정
    "vue/attributes-order": [
      "error",
      {
        "order": [
          "DEFINITION",
          "LIST_RENDERING",
          "CONDITIONALS",
          "RENDER_MODIFIERS",
          "GLOBAL",
          ["UNIQUE", "SLOT"],
          "TWO_WAY_BINDING",
          "OTHER_DIRECTIVES",
          "OTHER_ATTR",
          "EVENTS",
          "CONTENT"
        ],
        "alphabetical": false
      }
    ],
    // vue html 태그 어트리부트 존재시 줄바꿈
    "vue/multiline-html-element-content-newline": [
      "error",
      {
        "ignoreWhenEmpty": true,
        "allowEmptyLines": false
      }
    ],
    // vue html 태그 멀티라인시 종료 브라켓 줄바꿈
    "vue/html-closing-bracket-newline": [
      "error",
      {
        "singleline": "never",
        "multiline": "always"
      }
    ],
    // vue v-html 사용하기
    "vue/no-v-html": "off",
    // vue html 태그 스페이스 제거
    "vue/no-spaces-around-equal-signs-in-attribute": ["error"],
    // v-bind:foo 비허용 => :foo 허용
    "vue/v-bind-style": ["error", "shorthand"],
    // v-on:click 비허용 => @click 허용
    "vue/v-on-style": ["error", "shorthand"],
    // 템플릿,스크립트,스타일 태그 순서
    "vue/component-tags-order": [
      "error",
      {
        "order": ["template", "script", "style"]
      }
    ],
    // Vue 스크립트 셋업만 허용
    "vue/component-api-style": ["error", ["script-setup"]],
    // Template, Script, Style 태그 1칸 띄어쓰기 적용
    "vue/padding-line-between-blocks": ["error"],
    // setup 구조분해할당 옵션
    "vue/no-setup-props-destructure": ["off"],
    "vue/no-parsing-error": "error",
    "no-alert": "off",
    "no-shadow": "off",
    "no-spaced-func": "off",
    "no-console": "off",
    "semi-spacing": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/func-call-spacing": ["error"],
    "@typescript-eslint/prefer-as-const": "off",
    "@typescript-eslint/type-annotation-spacing": ["error", { "after": true }],
    // 배열,객체,가져오기,내보내기 멀티라인일시 마지막에 콤마
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "max-len": ["error", { "code": 200 }]
  }
}
