@mixin flexSet($justify-content, $align-items, $flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin boxSet($width, $height, $border-radius) {
  width: $width;
  height: $height;
  border-radius: $border-radius;
}

@mixin fontSet($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin colorSet($color, $background-color) {
  color: $color;
  background-color: $background-color;
}

@mixin backgroundSet($background-image, $background-size) {
  background-image: url($background-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $background-size;
}

@mixin ellipsisSet($line-cnt, $line-height) {
  display: -webkit-box;
  max-height: $line-height * $line-cnt;
  overflow: hidden;
  line-height: $line-height;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line-cnt;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

@mixin shadowSet($x, $y, $blur, $red, $green, $blue, $opacity) {
  -moz-filter: drop-shadow(
    #{$x}px #{$y}px #{$blur}px rgba($red, $green, $blue, $opacity)
  );
  -o-filter: drop-shadow(
    #{$x}px #{$y}px #{$blur}px rgba($red, $green, $blue, $opacity)
  );
  -ms-filter: drop-shadow(
    #{$x}px #{$y}px #{$blur}px rgba($red, $green, $blue, $opacity)
  );
  -webkit-filter: drop-shadow(
    #{$x}px #{$y}px #{$blur}px rgba($red, $green, $blue, $opacity)
  );
  filter: drop-shadow(
    #{$x}px #{$y}px #{$blur}px rgba($red, $green, $blue, $opacity)
  );
}
